# Ignore Python bytecode files
*.pyc
__pycache__

# Ignore virtual environment
venv/
.env/

# Ignore data folder (if it's not needed in the repo)
data/raw/

# Ignore other IDE-related files (if applicable)
.vscode/
.idea/